@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-color: #629adb;
  --primary-text-color: #111827;
  --faint-green: #a7f3d0;
}

body {
  text-align: center;
  max-width: 1300px;
  margin: 0rem auto;
  background-color: var(--faint-green);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 2.1rem;
  color: #1f2937;
  padding: 2rem 1rem;
}
 #main{border-radius: 15px;
  padding: 2rem 2rem;
  margin: 5rem auto;
  background-color: #a78bfa;
  max-width: 1000px;
  font-size: 1.5rem;}

  input{
    margin: .5rem auto;
  display: block;
  height: 2rem;
  text-align: center;
  border-radius: 0.8rem;
  width: 10rem;
  border: solid rgb(24, 93, 184) 2.5px;
  font-size: large;
  }
   
  button{
    margin: 1rem auto;
  display: block;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.8rem;
  width: 6rem;
  border: solid rgb(236, 86, 27) 3px;
  font-size: large;
  background-color: #6d28d9;
  color: black;
  font-weight: bold;
  }

p{
  font-size: 1.7rem;
  font-weight:bold;
  padding: .2rem .2rem;
}
table, th, td{
  border: solid black 2px;
  border-collapse: collapse;
  padding: 3px ;
  margin: 15px 15px;
  background-color: #a7f3d0;
  height: 3vh;
  width: 80vh;
  text-align: center;
}
.no-of-notes{
  background-color: white;
}
th{
  min-width: 150px;
}
 table{ margin-left:35vh;
 }
